#header {
    padding: 8% 8% 0 8%;
}
#wrapperDiv{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 8% 5% 8%;
    margin-top: 0%;
    box-sizing: border-box;

}
#main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0 100px 0;
    width: 800px;
    margin-right: 50px;
}
.item-wrap{
    display: flex;
    box-shadow: 1px 1px 4px grey;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
}
.img-wrap{
    width: 70px;
    margin-right: 15px;
}
.content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-wrap h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.content-wrap p {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.item-img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.checkout-text {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}
.item-name {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.quantity-wrapper {
    display: flex;
    padding: 0;
}
.quantity-wrapper p {
    margin-right:2px;
}
#amount{
    box-shadow: 1px 1px 4px grey; 
    width: 800px;
    height: 100%;
    margin-top: 28px;
    padding-left: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
}
#amount-wrapper {
    display: flex;
    align-items: center;
}
#amount-wrapper p{
    margin-right: 2px;
    font-family: 'Montserrat', sans-serif;
}
#total-amount{
    color: black;
    font-size: 24px;
    font-weight: 900;
}
#quantity {
    width: 40px;
}
#btn {
    border-radius: 4px;
    background-color: teal;
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 15px;
    width: 110px;
    height: 42px;
    cursor: pointer;
}