body {
    margin: 0;
}
#main {
    width: 100%;
    padding: 4% 8% 0 8%;
    box-sizing: border-box;
    margin-bottom: 120px;
}
.prod-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 80px;
}
.prod-img {
    width: 32%;
}
.prod-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
}
.brand-text {
    font-size: 18px;
    color: gray;
    font-weight: 500;
    font-family: "Open Sans",sans-serif;
}
.price-wrap {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: "Open Sans",sans-serif;
}
.prod-price {
    color: teal;
    margin-left: 5px;
    font-family: "Open Sans",sans-serif;
}
.prod-text {
    font-size: 18px;
    font-weight: 500;
    font-family: "Open Sans",sans-serif;
}
.preview-wrap{
    margin-bottom: 40px;
}
.prod-desc{
    color: gray;
}
.preview-card {
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.previewImg-wrap {
    margin-right: 17px;
    box-sizing: border-box;
    width: 50px;
}
#preview-img {
    width: 100%;
    cursor: pointer;
    padding: 1px;
    box-sizing: border-box;
}
.selected{
       border:2px solid teal;
       border-radius: 5px;
  }
.description {
    width: 70%;
    font-family: "Open Sans",sans-serif;
}
.btn {
    border-radius: 4px;
    background-color: teal;
    color: white;
    font-weight: 600;
    border: none;
    padding: 15px 30px;
    width: 150px;
    cursor: pointer;
}